<!DOCTYPE html>

<!-- Mirrored from mythemepreviews.com/uno_personal/image/ by HTTrack Website Copier/3.x [XR&CO'2008], Sat, 31 May 2014 02:24:30 GMT -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		    
		<!-- Meta Tag for responsive -->
		<meta name=”viewport” content=”width=1024, minimal-ui”>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  

		<title>UNO - A Powerful Personal Portfolio and Resume Page</title>
		    
		<%= stylesheet_link_tag "application", media: "all" %>
		<!-- <link href='../../../fonts.googleapis.com/cssa319.css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'> -->
  	<%= csrf_meta_tags %>
	</head>
	<body>

		<%= yield %>

	</body>
	
	<!--Load Fallback if google not avalible-->
	<script>
	// if (!window.jQuery) {
	    // document.write('<script src=\'<%= asset_path("jquery-1.11.0.min.js") %>\'><\/script>');
	// }
	</script>
	<%= javascript_include_tag "application" %>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= csrf_meta_tags %>
</head>
<body>

<%#= yield %>

</body>
</html> -->
